@font-face {
  font-family: "Besley";
  src: url("./static/Besley-Medium.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Besley";
  src: url("./static/Besley-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./static/Inconsolata.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  font-family: "Besley", serif;
  flex: 1;
}

#app-container {
  display: flex;
  flex: 1;
}
