@font-face {
  font-family: "Besley Medium";
  src: url("./static/Besley-Medium.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  font-family: "Besley Medium", serif;
  flex: 1;
}

#app-container {
  display: flex;
  flex: 1;
}

#app-container-inner {
  display: flex;
  flex-direction: column;
}

#header {
  margin-bottom: 3rem;

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-left: 0.5rem;
  }
}

#app-body {
  display: flex;
  flex: 1;
}

#table-of-contents {
  display: flex;
  padding: 0 1rem;
  border-right: 1px solid #ccc;

  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      font-size: 1.1rem;
      margin: 0 0 1rem 0;

      > .chapter-name {
        margin: 0 0 0.5em 0;
        text-decoration: underline;
      }

      > ul {
        font-size: 1rem;
        margin: 0 0 0 0.5rem;
        padding: 0;
        list-style-type: none;

        > li {
          margin: 0 0 0.5rem 0;

          > a {
            color: #aaa;

            &.active {
              color: black;
            }
          }
        }
      }
    }
  }
}

#page {
  flex: 1;
  padding: 0 3rem;

  h1 {
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
  }
}
